body{
    background-color: #D9D9D9;
}

.button{
	background-color: #FF8A56;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top:50%;
    left:50%;
    font-family: Arial, Helvetica, sans-serif;
}
#login.button{
    position:relative;
    left:1100px;
    }

#signup.button{
	position: relative;
	left:1100px;
}
ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
